#navbar{
  background-color: #21D192;
  font-size: 25px;
  letter-spacing: 2px;
}
li a {
  margin-right: .6em;
}
.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #fec400;
  transition: 0.4s;
}
.nav-item:hover::after {
  width: 100%
}
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fec400
}
.nav-link {
  padding: 15px 0px;
  transition: 0.2s
}
.imgNavbar{
  margin-left: 15vh;
  height: 10vh;
  width: 10vh;
}
