<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="row">
    <nav class="navbar navbar-expand-sm navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand text-dark" href="#">
          <h4>LOGO</h4>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto me-5">
            <li><a class="nav-link scrollto active" href="#">Home</a></li>
            <li><a class="nav-link scrollto" href="#">About</a></li>
            <li><a class="nav-link scrollto" href="#">Team</a></li>
            <li><a class="nav-link scrollto " href="#">Gallery</a></li>
            <li><a class="nav-link scrollto" href="#">Team</a></li>
            <li><a class="nav-link scrollto" href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- End Header -->
