*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.h1Team{
  font-size: 7vh;
}
.search{
  position: center;
  margin: 0 auto;
  padding: 6px 40px 10px 25px;
  height: 600px;
  align-content: center;
  align-items: center;
}
.search, .formSearch{
  width: 500px ;
  height: 50px;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
#searchName{
  letter-spacing: 1px;
}
.card {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 35rem;
  margin: 2em .5em 6em .5em;
}
.card__side {
  height: 35rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front-1 {
  background: linear-gradient(103deg, rgba(195,241,240,1) 0%, rgba(107,155,235,1) 43%, rgba(238,173,50,1) 100%);
}
.card__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background: radial-gradient(circle, rgba(238,209,155,1) 0%, rgba(148,187,233,1) 100%);
}

.card:hover .card__side--front-1{
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
.card-title{
  font-size: 35px;
}
.card__title {
  height: 20rem;
  padding: 4rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card__details {
  padding: 0 2rem 2rem;
  font-size: 20px;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  text-align: center;
  color: black;
  margin-bottom: 8rem;
}
.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.text-justify {
  text-align: justify;
  font-size: 18px;
}
.social-links li a {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: black;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  font-size: 30px;
  margin-top: 1em;
}
.social-links li a:hover {
  color: #3285ee;
}
