<div class="row">
  <div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
      <source src="../../../assets/video/home/videoHome.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay header-text">
      <div class="caption">
        <h6>Curso 2022-2023</h6>
        <div id="HelloWorld">
          <h2 id="demo" >
            <span class="blink_me">_</span>
            <span id="word"></span>
          </h2>
        </div>
        <div class="main-button scroll-to-section">
          <a href="#aboutUs">Sobre nosotros</a>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section" id="aboutUs">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h1>Sobre <em>Nosotros</em></h1>
          <img src="assets/img/home/about.png" alt="imagen">
          <p class="h3">Lorem ipsum dolor sit amet consectetur adipiscing elit torquent dui eros a volutpat, facilisis montes in porttitor arcu faucibus vel aptent iaculis ultricies ligula.</p>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <h2 class="technologies">Front-end</h2>
        <ul class="features-items">
          <ng-container *ngFor="let front_end of frontEnd">
          <li class="feature-item">
            <div class="left-icon">
              <img src="{{front_end.img}}" alt="HTML">
            </div>
            <div class="right-content">
              <h4>{{front_end.title}}</h4>
              <p> {{front_end.p}}</p>
              <a href="{{front_end.link}}" class="text-button" target="_blank">Saber más</a>
            </div>
          </li>
          </ng-container>
        </ul>
      </div>
      <div class="col-lg-6">
        <h2 class="technologies">Back-end</h2>
        <ul class="features-items">
          <ng-container *ngFor="let back_end of banckEnd">
          <li class="feature-item">
            <div class="left-icon">
              <img src="{{back_end.img}}" alt="PHP">
            </div>
            <div class="right-content">
              <h4>{{back_end.title}}</h4>
              <p>{{back_end.p}}</p>
              <a href="{{back_end.link}}" class="text-button" target="_blank">Saber más</a>
            </div>
          </li>
          </ng-container>
        </ul>
      </div>
    </div>

</section>
