<div class="row">
  <div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
      <source src="../../../assets/video/home/videoHome.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay header-text">
      <div class="caption">
        <h6>Curso 2022-2023</h6>
        <div id="HelloWorld">
          <h2 id="demo" >
            <span class="blink_me">_</span>
            <span id="word"></span>
          </h2>
        </div>
        <div class="main-button scroll-to-section">
          <a href="#">Sobre nosotros</a>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section" id="aboutUs">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h1>Sobre <em>Nosotros</em></h1>
          <img src="assets/img/home/about.png" alt="imagen">
          <p class="h3">Lorem ipsum dolor sit amet consectetur adipiscing elit torquent dui eros a volutpat, facilisis montes in porttitor arcu faucibus vel aptent iaculis ultricies ligula.</p>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <h2 class="technologies">Front-end</h2>
        <ul class="features-items">
          <li class="feature-item">
            <div class="left-icon">
              <img src="assets/img/home/HTML.png" alt="HTML">
            </div>
            <div class="right-content">
              <h4>HTML</h4>
              <p> Interdum habitant dapibus iaculis lacinia purus dui, nullam condimentum metus ante vehicula curabitur, nulla senectus parturient donec nisi.</p>
              <a href="#" class="text-button">Saber más</a>
            </div>
          </li>
          <li class="feature-item">
            <div class="left-icon">
              <img src="assets/img/home/React.png" alt="React">
            </div>
            <div class="right-content">
              <h4>React</h4>
              <p> Interdum habitant dapibus iaculis lacinia purus dui, nullam condimentum metus ante vehicula curabitur, nulla senectus parturient donec nisi.</p>
              <a href="#" class="text-button">Saber más</a>
            </div>
          </li>
          <li class="feature-item">
            <div class="left-icon">
              <img src="assets/img/home/Angular.png" alt="Angular">
            </div>
            <div class="right-content">
              <h4>Angular</h4>
              <p> Interdum habitant dapibus iaculis lacinia purus dui, nullam condimentum metus ante vehicula curabitur, nulla senectus parturient donec nisi.</p>
              <a href="#" class="text-button">Saber más</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <h2 class="technologies">Back-end</h2>
        <ul class="features-items">
          <li class="feature-item">
            <div class="left-icon">
              <img src="assets/img/home/PHP.png" alt="PHP">
            </div>
            <div class="right-content">
              <h4>PHP</h4>
              <p>Interdum habitant dapibus iaculis lacinia purus dui, nullam condimentum metus ante vehicula curabitur, nulla senectus parturient donec nisi.</p>
              <a href="#" class="text-button">Saber más</a>
            </div>
          </li>
          <li class="feature-item">
            <div class="left-icon">
              <img src="assets/img/home/javascript.png" alt="JavaScript">
            </div>
            <div class="right-content">
              <h4>Yoga Training</h4>
              <p>This template is built on Bootstrap v4.3.1 framework. It is easy to adapt the columns and sections.</p>
              <a href="#" class="text-button">Saber más</a>
            </div>
          </li>
          <li class="feature-item">
            <div class="left-icon">
              <img src="assets/img/home/java.jpg" alt="Java">
            </div>
            <div class="right-content">
              <h4>Body Building Course</h4>
              <p>Suspendisse fringilla et nisi et mattis. Curabitur sed finibus nisi. Integer nibh sapien, vehicula et auctor.</p>
              <a href="#" class="text-button">Saber más</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

</section>
